body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  margin: 0;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}

/* header */

header {
  background-color: rgba(0, 0, 0, 1);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container-title {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-size: 35px;
  color: #fff;
  text-decoration: none;
  padding: 21px 0;
}
.header-container-nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-container-nav-list-item-text {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 21px 0;
}
.header-container-btns-list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header-container-btns-list-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 27px;
  border-radius: 24px;
  cursor: pointer;
}
.btn-in {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.btn-up {
  color: #1e1e1e;
  background-color: #f9c06a;
  border-width: 0;
}

/* main */

/* hero */

.hero-section {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../images/coffeeimage.jpg);
  background-size: cover;
  padding: 95px 0;
}
.hero-container-head {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.hero-container-title {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-size: 220px;
  color: #fff;
}
.hero-container-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #fff;
  margin-bottom: 20px;
  width: 527px;
}
.hero-container-btn {
  color: #1e1e1e;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 27px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #f9c06a;
  border-width: 0;
}

/* about */

.about-container {
  display: flex;
}
.about-container-content-title {
  font-weight: 700;
  font-size: 50px;
  color: #603809;
  margin-bottom: 29px;
}
.about-container-content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #707070;
  width: 585px;
  margin-bottom: 29px;
}
.about-container-content-btn {
  color: #1e1e1e;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 27px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #f9c06a;
  border-width: 0;
}
.about-container-img {
  margin-left: auto;
}

/* flavous */

.flavours-container-title {
  font-weight: 700;
  font-size: 50px;
  color: #603809;
  text-align: center;
  margin-bottom: 16px;
}
.flavours-container-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #707070;
  margin-bottom: 32px;
}
.flavours-container-list {
  display: flex;
  gap: 20px;
}
.flavours-container-list-item {
  text-align: center;
}
.flavours-container-list-item-content {
  background-color: #fff9f1;
  border-left: 1px solid rgba(249, 192, 106, 0.42);
  border-bottom: 1px solid rgba(249, 192, 106, 0.42);
  border-right: 1px solid rgba(249, 192, 106, 0.42);
  padding: 14px 0 42px 0;
}
.flavours-container-list-item-content-title {
  font-weight: 700;
  font-size: 22px;
  color: #603809;
  margin-bottom: 33px;
}
.flavours-container-list-item-content-text {
  font-weight: 700;
  font-size: 18px;
  color: #603809;
}
.flavours-container-list-item-btn {
  color: #1e1e1e;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 27px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #f9c06a;
  border-width: 0;
  margin-top: -24px;
}

/* order */

.section-order {
  padding-top: 100px;
  background-image: url(../images/Group\ 36.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.order-container {
  display: flex;
}
.order-container-content-title {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  margin-bottom: 22px;
}
.order-container-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #fff;
  width: 409px;
  margin-bottom: 22px;
}
.order-container-content-btn {
  color: #1e1e1e;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 27px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #f9c06a;
  border-width: 0;
  margin-top: -24px;
}

/* benefits */

.benefits-container {
  text-align: center;
}
.benefits-container-title {
  font-weight: 700;
  font-size: 50px;
  color: #603809;
  margin-bottom: 16px;
}
.benefits-container-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #707070;
  margin-bottom: 32px;
}
.benefits-container-list {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}
.benefits-container-list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 60px) / 4);
  padding-top: 36px;
  background-color: #fff9f1;
  border: 1px solid rgba(249, 192, 106, 0.42);
}
.benefits-container-list-item-img {
}
.benefits-container-list-item-content {
  padding-top: 25px;
  padding-bottom: 36px;
}
.benefits-container-list-item-content-title {
  font-weight: 700;
  font-size: 20px;
  color: #603809;
  margin-bottom: 8px;
}
.benefits-container-list-item-content-text {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  width: 176px;
}
.benefits-container-info {
  font-weight: 400;
  font-size: 20px;
  color: #707070;
  margin-bottom: 8px;
}
.benefits-container-head {
  font-weight: 700;
  font-size: 30px;
  color: #603809;
}

/* footer */

footer {
  background: linear-gradient(to bottom, #442808, rgba(68, 40, 8, 0.8)),
    url(../images/fotter_image.png);
  background-size: cover;
  padding-top: 161px;
  padding-bottom: 72px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container-logo {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-size: 54px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 20px;
}
.footer-container-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
  width: 380px;
  padding-bottom: 22px;
}
.footer-container-list {
  display: flex;
  gap: 22px;
}
.footer-container-add {
  font-style: normal;
}
.footer-container-add-title {
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-bottom: 31px;
}
.footer-container-add-list-item-text {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  width: 332px;
  margin-bottom: 22px;
}
.footer-container-add-list-item-number {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 22px;
}
.footer-container-add-list-item-contact {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
